.nav-item{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    display: block;
   
}
.container-fluid{
    background-color: white;
}
.navbar-brand{
    padding-left:5%;
 margin-top: -45px;
}
.navbar ul li { 
	padding: 0px 20px; 
 } 
